<%- include("./partition/header")%>
<%- include("./partition/nav")%>

<ul>
    <% expenses.forEach((expense)=>{ %>
        <li>
            <a href=""><%= expense.title %> | <a href="/expense/details/<%= expense.id%>">Details</a></a>
        </li>
    <% }) %>
</ul>

<%- include("./partition/footer")%>